<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Sevillana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Michroma&family=Sevillana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Michroma&family=Sevillana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caprasimo&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Michroma&family=Sevillana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caprasimo&family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Michroma&family=Sevillana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caprasimo&family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Michroma&family=Sevillana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caprasimo&family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Michroma&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caprasimo&family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Anton&family=Bebas+Neue&family=Caprasimo&family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Anton&family=Bebas+Neue&family=Caprasimo&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Pacifico&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Anton&family=Bebas+Neue&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Pacifico&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Anton&family=Bebas+Neue&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Pacifico&family=Permanent+Marker&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Pacifico&family=Permanent+Marker&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Monoton&family=Pacifico&family=Permanent+Marker&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Monoton&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Monoton&family=Mr+Dafoe&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Berkshire+Swash&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Monoton&family=Mr+Dafoe&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Berkshire+Swash&family=Bytesized&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Monoton&family=Mr+Dafoe&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Berkshire+Swash&family=Bytesized&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Monoton&family=Monsieur+La+Doulaise&family=Mr+Dafoe&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Berkshire+Swash&family=Bungee+Spice&family=Bytesized&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Michroma&family=Monoton&family=Monsieur+La+Doulaise&family=Mr+Dafoe&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Berkshire+Swash&family=Bungee+Spice&family=Bytesized&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Kaushan+Script&family=Michroma&family=Monoton&family=Monsieur+La+Doulaise&family=Mr+Dafoe&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&family=Anton&family=Bebas+Neue&family=Berkshire+Swash&family=Bungee+Spice&family=Bytesized&family=Caprasimo&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Gravitas+One&family=Just+Me+Again+Down+Here&family=Kaushan+Script&family=Michroma&family=Monoton&family=Monsieur+La+Doulaise&family=Mountains+of+Christmas:wght@400;700&family=Mr+Dafoe&family=Pacifico&family=Permanent+Marker&family=Rock+Salt&family=Sevillana&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <title>AGC</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        background-color: white;
        color: #000000;
        font-family: Arial, sans-serif;
        transition: background-color 0.3s, color 0.3s;
      }
  
      /* Dark mode styles */
      .dark-mode {
        background-color: #121212;
        color: white;
      }
  
      /* Button styles */
      #mode-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        max-width: 50px;
        background-color: white;
      }
    </style>
  </head>
  <body>
    <div class="content">{% block content %} {% endblock %}</div>
    <script>
      // Get the button, body, and image elements
      const toggleButton = document.getElementById('mode-toggle');
      const body = document.body;
      const modeIcon = document.getElementById('mode-icon');
  
      // Check for saved theme in localStorage and apply it
      if (localStorage.getItem('theme') === 'dark') {
        body.classList.add('dark-mode');
        modeIcon.src = 'https://c.pxhere.com/photos/f1/89/full_moon_moon_moon_craters_lunar_landscape-706492.jpg!d#google_vignette'; // Set the image to dark mode icon
      }
  
      // Toggle between dark and light mode
      toggleButton.addEventListener('click', () => {
        body.classList.toggle('dark-mode');
  
        // Change the icon and save the theme to localStorage
        if (body.classList.contains('dark-mode')) {
          localStorage.setItem('theme', 'dark');
          modeIcon.src = 'https://c.pxhere.com/photos/f1/89/full_moon_moon_moon_craters_lunar_landscape-706492.jpg!d#google_vignette'; // Dark mode icon
        } else {
          localStorage.setItem('theme', 'light');
          modeIcon.src = 'https://c.pxhere.com/photos/f1/89/full_moon_moon_moon_craters_lunar_landscape-706492.jpg!d#google_vignette'; // Light mode icon
        }
      });
    </script>
  </body>
</html>
